[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:icaven/glm.git
[submodule "thirdparty/bullet3"]
	path = thirdparty/bullet3
	url = git@github.com:bulletphysics/bullet3.git
[submodule "thirdparty/glad"]
	path = thirdparty/glad
	url = git@github.com:Dav1dde/glad.git
